*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: content-box;
}

body {
    margin: 0;
    font-family: "Roboto",-apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html , body, #root{
    height: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}


div.popup{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    background: #000000a6;
    z-index: 9999;
}

span.close-pop{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
    border:1px transparent;
    transition: 1.2s all;
}

span.close-pop:hover{
    background: #ffffff;
    color: rgba(255, 0, 0, 0.445);
    border-radius:25px;
}

div.box-telegram{
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
